.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home */
.slick-active{
  background: #2d2d2d;
}

/* showtime */

.rows{
  display: flex;
}

.columns{
  background: rgb(96, 93, 169);
  /* width: 20px; */
  height: 20px;
  text-align: center;
  margin: 0.5rem;
  padding: 0.2rem;
  line-height: 20px
}

.columns:active{
  /* background: green */
}


.available{
  background: rgb(96, 93, 169)
}

.selected{
  background: green
}

.invisible {
  display: hidden;
  /* width: 20px; */
  height: 20px;
}
/* me */

.table-cell{
  color: #fff !important
}




@media (min-width:375px){

  /* Home */
.slick-active{
  background: rgb(26 26 26)
}


}